<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>nameStr</key>
		<string>的,眼,神,弓,怕,你,发,那,样,做,是,惊,看,你,走,向,鸟,百,千,尘,思,之,大,恩</string>
		<key>NameMeaning</key>
		<string>被弓箭吓怕了的鸟不容易安定。比喻经过惊吓的人碰到一点动静就非常害怕。</string>
		<key>name</key>
		<string>惊弓之鸟</string>
		<key>imageName</key>
		<string>0.jpg</string>
	</dict>
	<dict>
		<key>nameStr</key>
		<string>德,眼,神,惊,怕,你,高,那,样,做,是,弓,望,你,走,向,之,百,重,尘,思,鸟,大,恩</string>
		<key>NameMeaning</key>
		<string>德：品德；望：声望。道德高尚，名望很大。</string>
		<key>name</key>
		<string>德高望重</string>
		<key>imageName</key>
		<string>1.jpg</string>
	</dict>
	<dict>
		<key>nameStr</key>
		<string>的,眼,神,惊,怕,旗,发,那,开,做,是,弓,看,你,胜,向,之,百,千,得,思,鸟,大,恩</string>
		<key>NameMeaning</key>
		<string>刚一打开旗帜进入战斗，就取得了胜利。比喻事情刚一开始，就取得好成绩。</string>
		<key>name</key>
		<string>旗开得胜</string>
		<key>imageName</key>
		<string>2.jpg</string>
	</dict>
	<dict>
		<key>nameStr</key>
		<string>良,眼,神,惊,怕,旗,发,那,药,做,是,弓,看,你,苦,向,之,口,千,胜,思,鸟,大,恩</string>
		<key>NameMeaning</key>
		<string>好药往往味苦难吃。比喻衷心的劝告，尖锐的批评，听起来觉得不舒服，但对改正缺点错误很有好处。</string>
		<key>name</key>
		<string>良药苦口</string>
		<key>imageName</key>
		<string>3.jpg</string>
	</dict>
	<dict>
		<key>nameStr</key>
		<string>貌,酒,精,彩,的,生,活,红,则,早,绿,千,穿,百,孔,是,句,最,空,的,话,着,疲,灯</string>
		<key>NameMeaning</key>
		<string>形容寻欢作乐的腐化生活，也形容都市或娱乐场所的繁华景象。 也作“酒绿灯红</string>
		<key>name</key>
		<string>灯红酒绿</string>
		<key>imageName</key>
		<string>4.jpg</string>
	</dict>
	<dict>
		<key>nameStr</key>
		<string>不,知,心,该,以,什,么,灰,的,措,辞,去,形,容,周,围,意,一,切,相,交,的,平,冷</string>
		<key>NameMeaning</key>
		<string>灰心失望，意志消沉。</string>
		<key>name</key>
		<string>心灰意冷</string>
		<key>imageName</key>
		<string>5.jpg</string>
	</dict>
	<dict>
		<key>nameStr</key>
		<string>哭,不,笑,去,关,注,小,时,外,的,不,张,没,有,面,具,的,脸,灰,的,得,辞,去,得</string>
		<key>NameMeaning</key>
		<string>哭也不好，笑也不好。 形容很尴尬。</string>
		<key>name</key>
		<string>哭笑不得</string>
		<key>imageName</key>
		<string>6.jpg</string>
	</dict>
	<dict>
		<key>nameStr</key>
		<string>我,墙,忘,记,了,我,们,跳,经,急,无,反,顾,地,狗,过,一,个,人,忘,记,了,她,的</string>
		<key>NameMeaning</key>
		<string>狗急了也能跳过墙去。比喻坏人在走投无路时豁出去，不顾一切地捣乱。</string>
		<key>name</key>
		<string>狗急跳墙</string>
		<key>imageName</key>
		<string>7.jpg</string>
	</dict>
	<dict>
		<key>nameStr</key>
		<string>二,什,么,丘,心,特,的,箭,要,射,在,心,上,是,为,了,提,醒,意,们,三,爱,有,时</string>
		<key>NameMeaning</key>
		<string>又想这样又想那样，犹豫不定。常指不安心，不专一。</string>
		<key>name</key>
		<string>三心二意</string>
		<key>imageName</key>
		<string>8.jpg</string>
	</dict>
	<dict>
		<key>nameStr</key>
		<string>风,烟,天,年,执,手,红,无,朝,朝,暮,暮,缝,字,为,爱,两,相,衣,如,花,眷,恋,你</string>
		<key>NameMeaning</key>
		<string>神话传说，仙女的衣服没有衣缝。比喻事物周密完善，找不出什么毛病。</string>
		<key>name</key>
		<string>天衣无缝</string>
		<key>imageName</key>
		<string>9.jpg</string>
	</dict>
	<dict>
		<key>nameStr</key>
		<string>直,到,有,一,天,你,枣,我,囫,去,了,但,我,没,有,哭,因,吞,说,好,的,我,们,囵</string>
		<key>NameMeaning</key>
		<string>囫囵：整个儿。把枣整个咽下去，不加咀嚼，不辨滋味。比喻对事物不加分析思考。</string>
		<key>name</key>
		<string>囫囵吞枣</string>
		<key>imageName</key>
		<string>10.jpg</string>
	</dict>
	<dict>
		<key>nameStr</key>
		<string>阴,霾,穿,自,己,步,憧,憬,不,可,自,拔,每,次,的,想,百,都,折,磨,的,人,魂,杨</string>
		<key>NameMeaning</key>
		<string>在一百步远以外射中杨柳的叶子。形容箭法或枪法十分高明。</string>
		<key>name</key>
		<string>百步穿杨</string>
		<key>imageName</key>
		<string>11.jpg</string>
	</dict>
	<dict>
		<key>nameStr</key>
		<string>同,样,前,道,理,马,懂,可,真,实,的,答,失,恐,怕,也,只,有,老,天,蹄,以,解,答</string>
		<key>NameMeaning</key>
		<string>一个贬义的成语，比喻偶然发生差错而受挫。</string>
		<key>name</key>
		<string>马失前蹄</string>
		<key>imageName</key>
		<string>12.jpg</string>
	</dict>
	<dict>
		<key>nameStr</key>
		<string>眉,果,一,夜,喜,失,眠,也,注,定,是,一,场,胡,思,上,想,的,蛊,惑,梢,醒,意,们</string>
		<key>NameMeaning</key>
		<string>喜悦的心情从眉眼上表现出来。</string>
		<key>name</key>
		<string>喜上眉梢</string>
		<key>imageName</key>
		<string>13.jpg</string>
	</dict>
	<dict>
		<key>nameStr</key>
		<string>很,多,想,夜,不,禁,人,意,更,要,沉,浸,进,去,或,半,也,是,一,种,享,乐,三,哭</string>
		<key>NameMeaning</key>
		<string>一夜分为五更，三更是午夜十二时。指深夜。</string>
		<key>name</key>
		<string>半夜三更</string>
		<key>imageName</key>
		<string>14.jpg</string>
	</dict>
	<dict>
		<key>nameStr</key>
		<string>面,一,步,一,凡,行,走,总,是,会,积,攒,独,世,瞩,当,的,胜,利,憧,憬,不,可,倒</string>
		<key>NameMeaning</key>
		<string>单独负责一个方面的工作。</string>
		<key>name</key>
		<string>独当一面</string>
		<key>imageName</key>
		<string>15.jpg</string>
	</dict>
	<dict>
		<key>nameStr</key>
		<string>欲,成,方,祸,则,飞,事,之,功,形,矣,来,物,莫,不,有,规,横,言,之,士,会,规,矩</string>
		<key>NameMeaning</key>
		<string>意外的灾祸。</string>
		<key>name</key>
		<string>飞来横祸</string>
		<key>imageName</key>
		<string>16.jpg</string>
	</dict>
	<dict>
		<key>nameStr</key>
		<string>叫,水,和,汗,水,的,化,拍,成,分,相,似,前,者,只,案,为,你,换,来,同,绝,的,胜</string>
		<key>NameMeaning</key>
		<string>拍桌子叫好。形容非常赞赏。</string>
		<key>name</key>
		<string>拍案叫绝</string>
		<key>imageName</key>
		<string>17.jpg</string>
	</dict>
	<dict>
		<key>nameStr</key>
		<string>学,上,忘,记,是,生,活,添,技,术,学,会,微,笑,是,生,锦,的,艺,人,意,更,要,花</string>
		<key>NameMeaning</key>
		<string>锦：有彩色花纹的丝织品。在锦上再绣花。比喻好上加好，美上添美。</string>
		<key>name</key>
		<string>锦上添花</string>
		<key>imageName</key>
		<string>18.jpg</string>
	</dict>
	<dict>
		<key>nameStr</key>
		<string>德,眼,神,虎,怕,你,高,口,样,做,是,弓,望,你,牙,向,之,百,重,尘,思,鸟,大,拔</string>
		<key>NameMeaning</key>
		<string>从老虎嘴里拔牙。比喻做十分危险的事情。</string>
		<key>name</key>
		<string>虎口拔牙</string>
		<key>imageName</key>
		<string>19.jpg</string>
	</dict>
	<dict>
		<key>nameStr</key>
		<string>如,酒,熟,芳,香,落,浓,烈,因,为,蒂,实,它,变,得,醇,厚,生,活,如,歌,瓜,高,昂</string>
		<key>NameMeaning</key>
		<string>蒂：花或瓜果跟枝茎相连的部分。 瓜熟了，瓜蒂自然脱落。指时机一旦成熟，事情自然成功。</string>
		<key>name</key>
		<string>瓜熟蒂落</string>
		<key>imageName</key>
		<string>瓜熟蒂落.jpg</string>
	</dict>
	<dict>
		<key>nameStr</key>
		<string>文,的,积,落,很,值,得,阅,成,以,下,的,优,少,美,文,精,选,段,落,请,继,续,多</string>
		<key>NameMeaning</key>
		<string>积累少量的东西，能成为巨大的数量。</string>
		<key>name</key>
		<string>积少成多</string>
		<key>imageName</key>
		<string>积少成多.jpg</string>
	</dict>
	<dict>
		<key>nameStr</key>
		<string>包,含,心,同,类,型,的,优,是,段,落,欢,非,查,阅,是,学,生,学,习,写,作,口,好</string>
		<key>NameMeaning</key>
		<string>嘴里说得很好，心里想的却是另一套。指心口不一致。</string>
		<key>name</key>
		<string>口是心非</string>
		<key>imageName</key>
		<string>口是心非.jpg</string>
	</dict>
	<dict>
		<key>nameStr</key>
		<string>门,在,散,文,中,也,旁,常,使,用,拟,人,的,修,辞,手,道,把,静,的,景,物,写,左</string>
		<key>NameMeaning</key>
		<string>原指不正派的宗教派别。借指不正派的学术派别。现泛指不正派的东西。</string>
		<key>name</key>
		<string>旁门左道</string>
		<key>imageName</key>
		<string>旁门左道.jpg</string>
	</dict>
	<dict>
		<key>nameStr</key>
		<string>落,添,供,大,虎,精,选,优,美,段,落,摘,如,包,含,不,同,类,型,的,优,美,翼,落</string>
		<key>NameMeaning</key>
		<string>好像老虎长上了翅膀。比喻强有力的人得到帮助变得更加强有力。</string>
		<key>name</key>
		<string>如虎添翼</string>
		<key>imageName</key>
		<string>如虎添翼.jpg</string>
	</dict>
	<dict>
		<key>nameStr</key>
		<string>如,功,或,芳,事,或,浓,烈,因,为,诚,半,它,变,得,醇,倍,生,活,如,歌,或,高,昂</string>
		<key>NameMeaning</key>
		<string>指做事得法，因而费力小，收效大。</string>
		<key>name</key>
		<string>事半功倍</string>
		<key>imageName</key>
		<string>事半功倍.jpg</string>
	</dict>
	<dict>
		<key>nameStr</key>
		<string>破,千,年,来,仍,势,击,着,人,们,的,心,如,播,放,出,永,不,低,沉,的,竹,命,绝</string>
		<key>NameMeaning</key>
		<string>势：气势，威力。 形势就像劈竹子，头上几节破开以后，下面各节顺着刀势就分开了。比喻节节胜利，毫无阻碍。</string>
		<key>name</key>
		<string>势如破竹</string>
		<key>imageName</key>
		<string>势如破竹.jpg</string>
	</dict>
	<dict>
		<key>nameStr</key>
		<string>能,塑,静,目,德,性,我,国,浩,瀚,的,瞑,海,之,中,蕴,不,着,无,尽,的,死,藏,让</string>
		<key>NameMeaning</key>
		<string>瞑目：闭眼。 死了也不闭眼。原指人死的时候心里还有放不下的事。现常用来形容极不甘心。</string>
		<key>name</key>
		<string>死不瞑目</string>
		<key>imageName</key>
		<string>死不瞑目.jpg</string>
	</dict>
	<dict>
		<key>nameStr</key>
		<string>异,你,床,普,通,的,日,子,里,同,出,韵,律,来,思,念,是,一,阵,梦,让,你,在,枯</string>
		<key>NameMeaning</key>
		<string>异：不同。 原指夫妇生活在一起，但感情不和。比喻同做一件事而心里各有各的打算。</string>
		<key>name</key>
		<string>同床异梦</string>
		<key>imageName</key>
		<string>同床异梦.jpg</string>
	</dict>
	<dict>
		<key>nameStr</key>
		<string>就,是,选,威,在,名,利,面,前,岿,风,不,动,就,是,选,择,在,八,力,面,前,面,首</string>
		<key>NameMeaning</key>
		<string>形容神气十足，声势慑人。</string>
		<key>name</key>
		<string>威风八面</string>
		<key>imageName</key>
		<string>威风八面.jpg</string>
	</dict>
	<dict>
		<key>nameStr</key>
		<string>亦,能,与,助,你,比,起,前,无,的,船,帆,信,念,的,魅,伦,在,于,即,使,遇,到,险</string>
		<key>NameMeaning</key>
		<string>伦比：类比，匹敌。指事物非常完美，没有能跟它相比的。</string>
		<key>name</key>
		<string>无与伦比</string>
		<key>imageName</key>
		<string>无与伦比.jpg</string>
	</dict>
	<dict>
		<key>nameStr</key>
		<string>可,入,把,最,坚,固,的,城,羊,化,作,历,史,的,残,迹,虎,以,把,人,类,的,偶,口</string>
		<key>NameMeaning</key>
		<string>谓羊处于老虎的威胁下，或进入了老虎的领地。比喻弱者陷入险恶的境地，面临被残害的处境。</string>
		<key>name</key>
		<string>羊入虎口</string>
		<key>imageName</key>
		<string>羊入虎口.jpg</string>
	</dict>
	<dict>
		<key>nameStr</key>
		<string>欺,扬,着,自,仗,的,伟,力,那,是,如,火,势,中,年,晚,春,四,月,人,菲,渐,尽,之</string>
		<key>NameMeaning</key>
		<string>仗：凭借，依靠。 依仗某种权势欺压人。</string>
		<key>name</key>
		<string>仗势欺人</string>
		<key>imageName</key>
		<string>仗势欺人.jpg</string>
	</dict>
	<dict>
		<key>nameStr</key>
		<string>是,比,见,洋,和,天,空,肘,为,博,大,襟,胸,襟,是,宽,广,和,宽,厚,的,叠,捉,延</string>
		<key>NameMeaning</key>
		<string>拉一拉衣襟，就露出臂肘。形容衣服破烂。比喻顾此失彼，穷于应付。</string>
		<key>name</key>
		<string>捉襟见肘</string>
		<key>imageName</key>
		<string>捉襟见肘.jpg</string>
	</dict>
	<dict>
		<key>nameStr</key>
		<string>照,亮,穿,迷,途,者,前,滴,的,方,向,驱,散,了,孤,独,水,心,中,的,阴,石,点,燃</string>
		<key>NameMeaning</key>
		<string>水不断下滴，可以闹穿石头。 比喻只要有恒心，不断努力，事情一定成功。</string>
		<key>name</key>
		<string>滴水穿石</string>
		<key>imageName</key>
		<string>滴水穿石.jpg</string>
	</dict>
	<dict>
		<key>nameStr</key>
		<string>那,么,失,败,就,官,黑,夜,中,的,星, 相,没,有,星,辰,护,降,落,也,就,官,会,有</string>
		<key>NameMeaning</key>
		<string>指官员之间互相包庇。</string>
		<key>name</key>
		<string>官官相护</string>
		<key>imageName</key>
		<string>官官相护.jpg</string>
	</dict>
	<dict>
		<key>nameStr</key>
		<string>峭,空,上,的,野,两,合,教,我,们,执,著,山,顶,上,手,松,树,教,我,们,拼,空,风</string>
		<key>NameMeaning</key>
		<string>形容人手头很紧，一个钱也没有。</string>
		<key>name</key>
		<string>两手空空</string>
		<key>imageName</key>
		<string>两手空空.jpg</string>
	</dict>
	<dict>
		<key>nameStr</key>
		<string>我,们,面,友,谊,写,到,本,书,一,本,厚,厚,的,书,俱,书,里,友,谊,面,珍,珠,我</string>
		<key>NameMeaning</key>
		<string>各方面都能照顾到，没有遗漏疏忽。也指虽然照顾到各方面，但一般化。</string>
		<key>name</key>
		<string>面面俱到</string>
		<key>imageName</key>
		<string>面面俱到.jpg</string>
	</dict>
	<dict>
		<key>nameStr</key>
		<string>飘,扬,着,网,然,一,伟,力,那,是,如,火,的,中,开,晚,春,四,月,芳,面,渐,尽,之</string>
		<key>NameMeaning</key>
		<string>把捕禽的网撤去三面，只留一面。比喻采取宽大态度，给人一条出路。</string>
		<key>name</key>
		<string>网开一面</string>
		<key>imageName</key>
		<string>网开一面.jpg</string>
	</dict>
	<dict>
		<key>nameStr</key>
		<string>个,五,彩,吐,花,坛,友,谊,气,油,彩,我,们,共,同,眉,色,描,绘,出,一,扬,幅,美</string>
		<key>NameMeaning</key>
		<string>扬起眉头，吐出怨气。形容摆脱了长期受压状态后高兴痛快的样子。</string>
		<key>name</key>
		<string>扬眉吐气</string>
		<key>imageName</key>
		<string>扬眉吐气.jpg</string>
	</dict>
</array>
</plist>
